/*
-------------------------
    Document Design
-------------------------
*/

body {
  padding: 0;
  margin: 0 auto;
  background: url(../media/bodybackground.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*
-------------------------
    Navigation Design
-------------------------
*/

/*
-------------------------
    Pages Design
-------------------------
*/
.home, .bio, .sorts {
  padding-top: 3.0063em;
  height: 30em;
  width: 100%;
  position: relative;
  background-color: #BB1219;
}
.home {
  top: 4.8em;
}
.home::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: bottom left;
  transform: skewY(4deg);
}
.bio {
  top: 20em;
}
.bio::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: top right;
  transform: skewY(4deg);
}
.bio::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: bottom right;
  transform: skewY(-4deg);
}
.sorts {
  top: 35em;
}
.sorts::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left;
  transform: skewY(-4deg);
}
.footer {
  height: 6.125em;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #000;
  background-color: #1E2A32;
}
.social-links a {
  text-decoration: none;
}
.social-links {
  float: right;
  padding-right: 3.0063em;
  padding-top: 2em;
}
