/*
-------------------------
    Document Design
-------------------------
*/

body {
  font-family: 'Montserrat', sans-serif !important;
  padding: 0;
  margin: 0 auto;
  background: url(../media/bodybackground.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*
-------------------------
    Navigation Design
-------------------------
*/

.navbar-inverse .navbar-nav > .active {
  color: #000;
  background: #D90F0F;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
  background: #D90F0F;
}

.navbar-left img {
  height: 50px;
}

@media screen and (max-width:768px) {
  .navbar-left img {
    width:100%;
  }
}

/*
-------------------------
    Pages Design
-------------------------
*/

.home {

}
