/*
-------------------------
    Document Design
-------------------------
*/

body {
  padding: 0;
  margin: 0 auto;
  background: url(https://farm4.staticflickr.com/3493/3812049362_6783d7f53b_o_d.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*
-------------------------
    Navigation Design
-------------------------
*/

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #a9db80;
  background: -moz-linear-gradient(top,  #a9db80 0%, #96c56f 100%);
  background: -webkit-linear-gradient(top,  #a9db80 0%,#96c56f 100%);
  background: linear-gradient(to bottom,  #a9db80 0%,#96c56f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 );
}
ul.nav li {
  float: left;
}
ul.nav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.063em;
}
ul.nav li a:hover {
  background-color: #111;
}
ul.nav li.icon {
  display: none;
}
@media screen and (max-width:680px) {
  ul.nav li {
    float: left;
  }
  ul.nav li:not(:first-child) {
    display: none;
  }
  ul.nav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.nav.responsive {
    position: relative;
  }
  ul.nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.nav.responsive li {
    float: none;
    display: inline;
  }
  ul.nav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*
-------------------------
    Pages Design
-------------------------
*/
.home, .bio, .sorts {
  height: 30em;
  width: 100%;
  position: relative;
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}
.home::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: bottom left;
  transform: skewY(4deg);
}
.bio {
  top: 10em;
}
.bio::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: top right;
  transform: skewY(4deg);
}
.bio::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: bottom right;
  transform: skewY(-4deg);
}
.sorts {
  top: 20em;
}
.sorts::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left;
  transform: skewY(-4deg);
}
